<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.prusa3d.slic3r/</string>
	<string>com.spotify.client</string>
	<string>dev.warp.Warp-Stable</string>
	<string>com.obsbot.OBSBOT_WebCam</string>
	<string>com.google.android.studio</string>
	<string>co.vero.desktop</string>
	<string>org.gramps-project.gramps</string>
	<string>orbx.volanta</string>
	<string>com.google.android.mtpviewer</string>
	<string>com.sipgate.desktop</string>
	<string>epp.package.cpp</string>
	<string>epp.package.dsl</string>
	<string>epp.package.committers</string>
	<string>epp.package.java</string>
	<string>org.eclipse.platform.ide</string>
	<string>epp.package.modeling</string>
	<string>epp.package.rcp</string>
	<string>co.eclecticlight.CirrusMac</string>
	<string>co.eclecticlight.Dintch</string>
	<string>co.eclecticlight.LockRattler</string>
	<string>co.eclecticlight.Metamer</string>
	<string>co.eclecticlight.Mints</string>
	<string>co.eclecticlight.Signet</string>
	<string>co.eclecticlight.SilentKnight</string>
	<string>co.eclecticlight.Spundle</string>
	<string>co.eclecticlight.TheTimeMachineMechanic</string>
	<string>co.eclecticlight.Ulbow</string>
	<string>co.eclecticlight.xattred</string>
	<string>co.eclecticlight.XProCheck</string>
	<string>org.the-meiers.coolterm</string>
	<string>com.kishanbagaria.jack</string>
	<string>com.stoplight.studio</string>
	<string>TH.Clock-Signal</string>
	<string>com.getflywheel.lightning.local</string>
</array>
</plist>
